<h2>Voting Page</h2>

<h3>Snacks always purchased</h3>

<% @purchased.each do |snack| %>
  <strong><%= snack.name %></strong><br>
<% end %>

<h3>Snacks newly suggested</h3>

<% @suggested.each do |suggestion| %>
  <%= suggestion.name %><br>
  Found at <%= suggestion.location %><br>
  Vote count: <%= suggestion.vote_count %><br>
  <%= link_to 'vote!', suggestion_path(suggestion.id), method: :put %><br><br>
<% end %><br>

<%= session[:votes] %> votes left this month!<br>

<%= link_to "Suggestions Page", suggestions_path %>
