<h2>Voting Page</h2>

<h3>Snacks always purchased</h3>

<% @purchased.each do |snack| %>
  <%= snack.name %><br>
<% end %>

<h3>Vote on these snacks</h3>

<% if flash[:vote_error] %>
  <p class="vote-error"><%= flash[:vote_error] %></p><br>
<% end %>

<%= session[:votes] %> votes left this month!<br><br>

<% @suggested.each do |suggestion| %>
  <%= suggestion.name %><br>
  Found at <%= suggestion.location %><br>
  Vote count: <%= suggestion.votes.count %><br>
  <%= button_to 'vote!', votes_path(id: suggestion.id, method: :post) %><br><br>
<% end %><br>


<%= link_to "Suggestions Page", suggestions_path %>
