<h2>Voting Page</h2>

<h3>Snacks always purchased</h3>

<% @purchased.each do |snack| %>
  <strong><%= snack.name %></strong><br>
<% end %>

<h3>Snacks newly suggested</h3>

<% @suggested.each do |suggestion| %>
  <strong><%= suggestion.name %></strong><br>
  Found at <%= suggestion.purchase_location %><br>
  Vote count: <%= suggestion.vote_count %><br><br>
<% end %>

<%= link_to "Suggestions Page", suggestions_path %>
