<h2>Suggestion Page</h2>

<p>Suggestions left this month: <%= session[:suggestion_count] %></p>

<h3>Choose one from list to add to voting page</h3>
  <% @dropdown_menu.each do |snack| %>
    <%= snack.name %><br>
    <% end %>

<h3>Or make a snack suggestion</h3>

<%= render partial: "errors" %>

<%= form_for(@suggestion) do |f| %>
  <%= f.text_field :name, placeholder: "Snack Name" %><br>
  <%= f.text_field :location, placeholder: "Where to Buy" %><br>
  <%= f.hidden_field :being_voted, { value: true } %><br>
  <%= f.submit %>
<% end %>
